html {
    background-color: white;
    padding-left: 10%;
    padding-right: 10%;
    scroll-behavior: smooth;
}


#start {
    background-color: #420c14;
    margin: 50px;
}



  #start h1, h2 {
    color: whitesmoke;
    text-align: center;
  }

  #profile {
    border-radius: 50%;
    max-width: 25%;
    max-height: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
 
  }

  section {
    display: flex;
    flex-direction: column;
    align-content: center;
  }

 h1 {
    font-size: 30px;
 }

 #education_header, #skills_header, #about_header {
    color: black;
    font-size: 30px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif; 
 }


 #Education, #Skills, #About_me {
    margin: 50px;
 }

 .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color:#732c2c;
  }
  

  .tab button {
    color: white;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  
  .tab button:hover {
    background-color: #ddd;
  }
  
  
  .tab button.active {
    background-color: #c7b195;
  }
  
  
  .tabcontent {
    display: none;
    padding: 20px 70px; 
    background-color: #cbbba6; 
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  #BA {
    font-family: Arial, Helvetica, sans-serif;
  }

  #MA {
    font-family: Arial, Helvetica, sans-serif;
  }


.accordion {
  background-color: #eee;
  color: rgb(35, 33, 33);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: center;
  border: none;
  outline: none;
  transition: 0.4s;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: bold;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}


.active, .accordion:hover {
  background-color: #ccc;
}


.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}  

ul {
  line-height: 200%;
  list-style: none;
  text-align: center;
  margin-left: -45px;
}

#Contact {
  background-color: #420c14;
  margin: 50px;
  padding: 20px;
}

#contact_header {
  color: white ;
  text-align: center;
}

#Contact a, i {
  color: white;
  margin-left: 40px;
  margin-bottom: 18px;
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: left;
  font-size: 18px;
}


#navbar {
  position: fixed; 
  top: 0; 
  width: 100%; 
  transition: top 0.3s; 
}


#navbar a {
  float: left;
  display: block;
  color: black;
  background-color: #c7b195;
  text-align: center;
  text-decoration: none;
  padding: 2%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold ;
}

#navbar a:hover {
  background-color: #e2d6c6;  
  color: black;
}

#About_me p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 80px;
  font-style: italic;
}

@media screen and (max-width: 650px) {
  #navbar a {
    font-size: 10px;
  }

  h1 {
    font-size: 15px;
  }

  h2 {
    font-size: 12px;
  }

  html {
    padding-left: 2%;
    padding-right: 2%;
  }

  #start {
    margin: 15px;
  }

  #education_header, #skills_header, #about_header {
    font-size: 20px;
  }

  #Education, #Skills, #About_me {
    margin: 15px;

  }

  #Contact {
    margin: 15px;
  }

  #About_me p {
    font-size: 12px;
    padding: 30px;
  }

  .tabcontent {
    font-size: 12px;
  }
    
  #Contact a, i {
    font-size: 12px;
  }

}








